{% extends "base.html" %}
{% block main %}
<div class="top-bar">
  <span class="title">Category</span>
  <a href="#" class="float-left" data-off-canvas-toggle><i class="fa fa-bars"></i></a>
  <a href="bag.html" class="float-right"><i class="fa fa-shopping-bag"></i></a>
</div>
<div class="container category">
  <a class="item" href="goods.html" style="background-image:url(https://s-media-cache-ak0.pinimg.com/236x/38/c1/4d/38c14da43c34110c7cf72741a604c81a.jpg)">
    <span>Shoes</span>
  </a>
  <a class="item" href="goods.html" style="background-image:url(https://s-media-cache-ak0.pinimg.com/236x/26/b3/4a/26b34ac97d4b12494bcab4ba31fe9c95.jpg)">
    <span>Shirts</span>
  </a>
  <a class="item" href="goods.html" style="background-image:url(https://s-media-cache-ak0.pinimg.com/564x/72/d7/89/72d789a4204b4e7be415545ec132b2a6.jpg);">
    <span>Short</span>
  </a>
  <a class="item" href="goods.html" style="background-image:url(https://s-media-cache-ak0.pinimg.com/236x/60/b6/d0/60b6d087fab12eef34815d7c5d160153.jpg);">
    <span>Jeans</span>
  </a>
</div>
{% endblock %}
