{% extends "base.html" %}
{% block main %}
<div class="top-bar" style="background:rgba(255,255,255,0);">
  <!-- <span class="title">Shop</span> -->
  <a href="#" class="float-left" data-off-canvas-toggle><i class="fa fa-bars"></i></a>
  <a href="bag.html" class="float-right bag-icon"><i class="fa fa-shopping-bag"></i><span>2</span></a>
</div>

<div class="container home">
  <div class="cover" style="background-image:url(https://s-media-cache-ak0.pinimg.com/564x/cd/06/c4/cd06c45c4f8e2eef842b478319153dfe.jpg);">
    <a class="title" href="goods_detail.html">White Shirt</a>
  </div>

  <div class="item">
    <img src="https://s-media-cache-ak0.pinimg.com/564x/76/47/25/7647251ad959483de31e5f057ea10790.jpg">
    <div class="item__title">
      A Bag
    </div>
  </div>

  <div class="item">
    <img src="https://s-media-cache-ak0.pinimg.com/564x/b2/17/93/b21793c50d292f34065292bdddfdfa8e.jpg">
    <div class="item__title">
      A Shoes
    </div>
  </div>

  <div class="item">
    <img src="https://s-media-cache-ak0.pinimg.com/564x/f6/58/b2/f658b2f7de02f152ccd1a7ab65ae733e.jpg">
    <div class="item__title">
      Autumn is coming.
    </div>
  </div>
</div>

{% endblock %}
