{% extends "base.html" %}
{% block main %}
<!-- <div class="off-canvas"> -->
<!--   <div class="off-canvas__container"> -->
<!--     <div class="off-canvas__main"> -->
<!--       <i class="fa fa-remove float-right" onclick="off_canvas()"></i> -->
<!--       hh -->
<!--     </div> -->
<!--     <div class="off-canvas__content_bg" onclick="off_canvas()"></div> -->
<!--     <div class="off-canvas__content"> -->
<!--       <div class="top-bar"> -->
<!--         <a href="#" class="float-left" onclick="off_canvas()"><i class="fa fa-bars"></i></a> -->
<!--         <a href="#" class="float-right"><i class="fa fa-shopping-bag"></i></a> -->
<!--       </div> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->

<div class="top-bar">
  <span class="title">Shop</span>
  <a href="#" class="float-left" data-off-canvas-toggle><i class="fa fa-bars"></i></a>
  <a href="bag.html" class="float-right bag-icon"><i class="fa fa-shopping-bag"></i>2</a>
</div>

<div class="container" style="margin-top: 5rem;">
<a href="#" data-modal-toggle>modal</a>
</div>

<div class="modal-bg" data-modal-toggle></div>
<div class="modal">
  <div class="modal__main">
    Thanks for your love.
  </div>
  <div class="modal__action">
    <a class="item" data-modal-toggle>OK</a>
  </div>
</div>

{% endblock %}
