/** import  all valiable **/
@import 'settings';
@import 'normalize';

// Core variables and mixins
@import 'util/util';
@import 'typography';
@import 'tables';
@import 'forms';
@import 'grid';
@import 'buttons';
@import 'helper';
// Components
@import 'components/menu';
@import 'components/top-bar';
@import 'components/pagination';

a:hover {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

html, body {
    height: 100%;
}

.button {
    background: black;
    color: white;
}

.slide {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    &__main {
        position: absolute;
        top: 0;
        left: 0;
        width: 400vw;
        margin-left: -100vw;
        //transform: translateX(100%);
        //transition: all 1s AAAAAAAAAA;
        height: 100%;
        li, a {
            width: 100vw;
            display: block;
            height: 100%;
        }
        li {
            float: left;
        }
        a {
            background-position: center;
            background-size: cover;
        }
        .active {
            //transform: translateX(0);
        }
    }
    &__nav {
        position: absolute;
        bottom: .5rem;
        right: 1rem;
        display: flex;
        li, a {
            display: inline-block;
        }
        li {
            margin: 0;
            padding: 0;
        }
        a {
            margin: 0 2px;
            height: 5px;
            width: 5px;
            background: lightgray;
        }
        .active a {
            background: black;
        }
    }
}


input {
    border: none !important;
    border-bottom: 1px solid lightgrey !important;
}

.bag-icon {
    position: relative;
    span {
        $size: 20px;
        position: absolute;
        bottom: 50%;
        left: 40%;
        font-size: xx-small;
        display: block;
        width: $size;
        height: $size;
        border-radius: $size;
        line-height: $size;
        text-align: center;
        background: red;
        color: white;
        transform: scale(0.8);
    }
}


.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(black,0.6);
    z-index: 99;
    display: none;
    overflow: hidden;
}
.modal {
    background: white;
    position: fixed;
    bottom: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, 50%);
    z-index: 99;
    color: black;
    display: none;
    box-shadow: 2px 2px 5px grey;
    &__main {
        padding: 2rem 1rem;
        box-sizing: border-box;
    }
    &__action {
        $size: 3rem;
        background: black;
        color: white;
        box-sizing: border-box;
        height: $size;
        line-height: $size;
        text-align: center;
        display: flex;
        .item {
            width: 100%;
            color: white;
        }
    }
}

.off-canvas {
    &__main {
        position: fixed;
        top: 0;
        left: 0;
        width: 85%;
        height: 100%;
        background: white;
        transform: translateX(-100%);
        transition: all .3s;
        padding: 1rem;
        box-sizing: border-box;
        z-index: 999;
    }
    &__bg {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(black,0.2);
        opacity: 0;
        transition: all .3s;
        z-index: 999;
        overflow: hidden;
    }
}

.off-canvas_active {
    .off-canvas__main {
        transform: translateX(0);
        box-shadow: 2px 0 5px lightgrey;
    }
    .off-canvas__bg {
        opacity: 1;
    }
}


.left-box {
    height: 100%;
    .header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid lightgrey;
        h5 {
            margin-bottom: .2rem;
        }
        span {
            color: darkgrey;
        }
        .avatar {
            margin: 1rem;
            $size: 5rem;
            display: inline-block;
            width: $size;
            height: $size;
            border-radius: $size;
            background-position: center;
            background-size: cover;
        }
    }
    .menu {
        overflow-y: scroll;
        max-height: calc(100% - 7rem - 1px);
        li {
            display: block;
        }
        a {
            display: block;
            height: 2rem;
            line-height: 2rem;
        }
    }
}

.top-bar {
    padding: 0 1rem;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 9;
    background: rgba(white, 1);
    a {
        color: black;
    }
    span {
        font-size: 1rem;
        font-weight: 600;
    }
}
.top-bar_transparent {
    background: transparent;
}

.container {
    min-height: 100%;
    box-sizing: border-box;
    padding-top: 4.5rem;
    opacity: 0;
    transform: translateX(-100%);
    transition: all .4s;
}

.container_active {
    transform: translateX(0);
    opacity: 1;
}

.home {
    padding: 0 0 1rem;
    .cover {
        height: 300px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        line-height: 300px;
        //margin-bottom: .5rem;
        .title {
            color: white;
            font-weight: 600;
            font-size: 1.2rem;
        }
    }
    .item {
        //margin-bottom: .5rem;
        position: relative;
        &__title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-weight: 600;
            font-size: 1.2rem;
            white-space: nowrap;
        }
    }
}

.search {
    padding: 4.5rem 1rem 1rem;
    form {
        margin: 3rem 0 3rem;
        padding: 0 1.5rem;
    }
    &__box {
        border-bottom: 1px solid black;
        display: flex;
        align-items: center;
        input {
            border: none !important;
            margin: 0 !important;
        }
        div {
            padding: 0 .5rem;
        }
    }
    &__suggestion {
        text-align: center;
        a {
            display: inline-block;
            padding: 0 0 .5rem;
        }
    }
}

.category {
    padding: 4rem 0 0;
    .item {
        display: block;
        height: 180px;
        //margin-bottom: .5rem;
        text-align: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            padding: .5rem 1.5rem;
            border: 2px solid white;
            font-size: 1.2rem;
            font-weight: 600;
            color: white;
        }
    }
}



.goods__sort-toggle {
    $size: 50px;
    position: fixed;
    bottom: 2rem;
    left: 1rem;
    width: $size;
    height: $size;
    line-height: $size;
    border-radius: $size;
    text-align: center;
    background: #222;
    color: white;
    &:hover,
    &:active {
        color: white;
    }
}
.goods__sort_active {
    transform: translateY(0) !important;
}
.goods__sort {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: black;
    padding: .5rem;
    box-sizing: border-box;
    $size: 3.5rem;
    color: white;
    transform: translateY(100%);
    transition: all .2s;
    &__close {
        padding: 0 0 .5rem;
        text-align: center;
        span {
            $isize: 5px;
            display: inline-block;
            height: $isize;
            width: $isize;
            border-radius: $isize;
            background: white;
        }
    }
    &__container {
        display: flex;
        justify-content: space-around;
        a {
            height: $size;
            width: $size;
            line-height: $size;
            display: block;
            color: white;
            text-align: center;
            font-size: 0.85rem;
        }
        .active {
            border: 1px solid white;
            border-radius: $size;
        }
    }
}

.goods {
    background: #efefef;
    padding: 4.5rem .5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    &__nav {
        height: 40px;
        line-height: 40px - 2px;
        width: 100%;
        white-space: nowrap;
        overflow-x: scroll;
        li, a {
            display: inline-block;
        }
        a {
            padding: 0 1rem;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            color: darkgrey;
        }
        .active a {
            //border-color: black;
            color: black;
        }
    }
    .item {
        width: 50%;
        padding: .2rem;
        box-sizing: border-box;
        .container {
            display: block;
            background: white;
            padding: .5rem;
            box-shadow: 2px 2px 5px lightgrey;
        }
        .cover {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 160px;
        }
        h5 {
            margin: .2rem 0;
            white-space: nowrap;
        }
    }
}

.goods-detail {
    padding: 0 0 4rem;
    .detail {
        padding: .5rem 1rem;
        box-sizing: border-box;
        .title {
            padding: .5rem;
            box-sizing: border-box;
            border-bottom: 1px solid lightgrey;
        }
        .description {
            padding: .5rem;
            //box-sizing: border-box;
            //border-bottom: 1px solid lightgrey;
        }
    }
}

.goods-detail-modal {
    bottom: 0;
    left: 0;
    transform: translate(0);
    width: 100%;
    height: auto;

    .count {
        margin-bottom: .5rem;
        display: flex;
        div {
            border: 1px solid lightgrey;
            padding: .5rem 1rem;
        }
        &__increase,
        &__decrease {
            color: grey;
        }
        &__main {
            width: 100%;
            text-align: center;
            border-left: none !important;
            border-right: none !important;
            font-weight: 600;
        }
    }
    .param {
        select {
            border-color: lightgrey;
            margin-bottom: .5rem;
        }
    }

    .modal__main {
        padding: 1.5rem 1rem;
    }
    .modal__action {
        height: 3.5rem;
        line-height: 3.5rem;
    }
}


.action-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    background: black;
    padding: 0 1rem;
    box-sizing: border-box;
    transition: all .5s;
    transform: translateY(100%);
    a {
        color: white;
    }
}
.action-bar_active {
    transform: translateY(0);
}


.bag {
    padding: 4.5rem 1rem 4rem;
    box-sizing: border-box;
    background: #efefef;
    .check {
        $size: 20px;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: $size;
        height: $size;
        text-align: center;
        line-height: $size;
        background: lightgrey;
        color: white;
    }
    .check_active {
        background: black;
    }
    .bar {
        position: relative;
        height: 3rem;
        background: white;
        margin-bottom: .5rem;
        line-height: 3rem;
        padding: 0 1rem;
        .check {
            position: relative;
        }
    }
    .item {
        margin-bottom: .5rem;
        background: white;
        position: relative;
    }
    .main {
        display: flex;
        padding: 1rem;
        box-sizing: border-box;
        border-bottom: 1px dashed lightgrey;
        .cover {
            width: 40%;
        }
        .title {
            padding: 0 .5rem;
            box-sizing: border-box;
            width: 100%;
            h5 {
                margin-bottom: .5rem;
            }
        }
        .action {
            width: 5%;
            a {
                color: grey;
            }
        }
    }
    .param {
        padding: 1rem;
        box-sizing: border-box;
        p {
            margin-bottom: .2rem;
        }
        .action {
            text-align: right;
        }
        .button {
            margin: 0;
            background: black;
        }
    }
}


.price {
    color: red;
    font-weight: 600;
}


.login {
    padding: 4.5rem 1rem 0;
    form {
        padding: 1.5rem 1.5rem 0;
        input {
            border: none;
            border-bottom: 1px solid lightgrey;
        }
        .button {
            //margin: .5rem 0 1rem;
        }
    }
    a,
    a:hover {
        text-decoration: underline;
    }
    &__register {
        display: block;
        margin: 2rem;
        //font-size: 1.2rem;
        //font-weight: 600;
        text-decoration: none !important;
        &:hover {
            text-decoration: none !important;
        }
    }
}


.myinfo {
    padding: 4.5rem 1.5rem 0;
    .avatar {
        $size: 100px;
        display: block;
        width: $size;
        height: $size;
        border-radius: $size;
        background: lightgrey;
        //border: 1px solid black;
        line-height: $size;
        text-align: center;
        margin: 1rem auto;
        //color: white;
    }
}

.orders {
    padding: 4.5rem 1rem 1rem;
    .item {
        padding: .5rem .5rem;
        &:not(:last-child){
            border-bottom: 1px solid lightgrey;
        }
        &__header {
        }
        &__main {
            display: flex;
        }
        &__number {
            //font-weight: 600;
            //font-size: 0.85rem;
        }
        &__status {
            /* display: inline-block; */
            /* padding: 5px 10px; */
            /* background: black; */
            /* color: white; */
            float: right;
            //font-size: 0.85rem;
        }
        &__description {
            max-width: calc(100% - 30vw);
            overflow: hidden;
        }
        &__name {
        }
    }
    .cover {
        width: 30vw;
        height: 30vw;
        background-position: center;
        //background-size: cover;
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: relative;
        span {
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 2px 8px;
            background: black;
            color: white;
            font-size: 0.75rem;
        }
    }
}


.order {
    padding: 4.5rem 1rem 1rem;
    .order__goods {
        .item {
            padding: .5rem;
            border-bottom: 1px dashed lightgrey;
            display: flex;
            &__cover {
                height: 25vw;
                width: 25vw;
                background-position: center;
                background-size: 100% auto;
                background-repeat: no-repeat;
            }
            &__main {
                max-width: calc(100% - 25vw);
                padding: .5rem;
                box-sizing: border-box;
                h5 {
                    margin-bottom: 5px;
                    white-space: nowrap;
                    overflow: hidden;
                }
                p {
                    margin: 0;
                }
            }
        }
    }

    &__main {
        padding: .5rem;
        //border-bottom: 1px solid lightgrey;
    }
    &__action {
        //padding: .5rem;
    }
}

.wallet {
    padding: 4.5rem 1rem 0;
    &__main {
        height: 30vh;
        line-height: 30vh;
        text-align: center;
        //border: 1px solid lightgrey;
        span {
            font-size: 2rem;
        }
    }
    &__part {
        display: flex;
        justify-content: space-around;
        div {
            width: 30%;
            height: 3rem;
            line-height: 3rem;
            text-align: center;
            color: black;
            border: 1px solid lightgrey;
        }
        /* div:nth-child(1) { */
        /*     background: blue; */
        /* } */
        /* div:nth-child(2) { */
        /*     background: orange; */
        /* } */
        /* div:nth-child(3) { */
        /*     background: red; */
        /* } */
    }
    &__log {
        margin: 1rem 0;
    }
}


.home2 {
    padding: 0 0 1rem;
    background: #efefef;
    &__part {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: .5rem 0;
        .item {
            display: block;
            width: 24%;
            margin-bottom: 2px;
            text-align: center;
            background: white;
            //box-shadow: 2px 2px 2px lightgrey;
            &__icon {
            }
            &__name {
                margin-top: -5px;
                font-size: 0.85rem;
                white-space: nowrap;
            }
        }
    }
    &__goods {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        a {
            margin-bottom: 1px;
            display: block;
            height: 40vh;
            width: 49%;
            background-position: center;
            background-size: cover;
            color: white;
            position: relative;
            div {
                position: absolute;
                bottom: 0;
                left: 0;
                background: black;
                color: white;
                display: inline-block;
                padding: 2px 5px;
                font-size: 0.85rem;
                white-space: nowrap;
                overflow: hidden;
            }
            .price {
                display: inline-block;
                background: black;
                font-size: 0.85rem;
                color: white;
            }
        }
    }
}


.cards {
    padding: 4.5rem 1rem 1rem;
    background: #efefef;
    &__item {
        margin-bottom: .5rem;
        position: relative;
        display: block;
        background: white;
        border-radius: 5px;
        height: 60vw;
        box-shadow: 2px 2px 2px lightgrey;
        .title {
            display: inline-block;
            position: absolute;
            top: 10%;
            right: 10%;
            font-size: 1.2rem;
            font-weight: 600;
        }
        .number {
            display: inline-block;
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            white-space: nowrap;
            font-size: 1.2rem;
            font-weight: 600;
            text-shadow: 2px 2px 2px lightgrey;
        }
    }
}


.card {
    padding: 4.5rem 1rem 1rem;
    input[type='radio'] {
        display: none;
        & + label {
            border-bottom: 1px solid transparent;
            padding: 2px 5px;
            color: grey;
        }
        &:checked + label {
            border-color: black;
            color: black;
        }
    }
    .radio {
        padding: 0 0.2rem .5rem;
    }
}


.shops {
    padding: 4.5rem 1rem 1rem;
    background: #efefef;
    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    .item {
        width: 50%;
        padding: 2px;
        box-sizing: border-box;
        //filter: contrast(100%);
        &__container {
            height: 40vw;
            padding: .5rem;
            box-sizing: border-box;
            background-position: center;
            background-size: cover;
            background: white;
            color: white;
            position: relative;
        }
    }
}


.shop-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40vh;
    background-position: center;
    background-size: cover;
    z-index: 0;
}
.shop {
    padding-top: 40vh;;
    &__description {
        padding: 0 1rem;
        background: white;
        h3 {
            transform: translateY(-50%);
            margin-bottom: 0;
        }
        p {
            margin-bottom: 2px;
        }
        .content {
            margin-top: .5rem;
            padding: .5rem 0;
            border-top: 1px solid lightgrey;
        }
        #map {
            height: 40vh;
        }
    }

}
